
body{
	background: black;
	font-family: A-OTF 新ゴ Pro R;
}
.main_area {
	width: 1000px;
	margin: 0px auto;
	position: relative;
}

.bd_img {
	width: 500px;
	display: -webkit-box;
	display: block;
	margin: 0 auto;
}

.btn_ul {
	list-style: none;
	text-align: center;
}

.btn_li {
	display: inline;
	margin-left: 20px;
}

.btn {
    width: 270px;
    height: 70px;
	border-radius: 11px;
	border: 0px;
	cursor: pointer;
	margin-left: 35px;
	background-size: cover !important;
}

.header_div {
	height: 300px;
}

a:link {
	text-decoration: none;
}

.blue {
	background: url(../img/btn_blue22.png) no-repeat center center;
}

.btn_blue {
	background: url(../img/btn_blue24.png) no-repeat center center;
    width: 505px;
    height: 132px;
	border-radius: 15px;
	border: 0px;
	cursor: pointer;
	background-size: cover !important;
}

.btn_green {
	background: url(../img/btn_green24.png) no-repeat center center;
    width: 505px;
    height: 132px;
	border-radius: 15px;
	border: 0px;
	cursor: pointer;
	background-size: cover !important;
}

.btn_red {
	background: url(../img/btn_red24.png) no-repeat center center;
    width: 505px;
    height: 132px;
	border-radius: 15px;
	border: 0px;
	cursor: pointer;
	background-size: cover !important;
}

.bg_black{
	background: black;
}

.green {
	background: url(../img/btn_green22.png) no-repeat center center;
}

.red {
	background: url(../img/btn_red22.png) no-repeat center center;
}

.center {
	text-align: center;
}

.btn_area {
	position: absolute;
	top: 10px;
	margin-left: 20px;
}

#blue {
	background: url(../img/bg16_1.jpg) no-repeat center center;
	width: 1000px;
	height: 150px;
	text-align: center;
}

#green {
	background: url(../img/bg17_3.jpg) no-repeat center center;
	width: 1000px;
	height: 150px;
	text-align: center;
}

#red {
	background: url(../img/bg18_3.jpg) no-repeat center center;
	width: 1000px;
	height: 150px;
}

.lazy {
	width: 1000px;
	display: block;
	display: -webkit-box;
	margin: -1px auto 0px auto;
}

.footer {
	width: 100%;
	background: white;
}

.footer .copyright {
	text-align: center;
	margin: 0;
	color: black;
	font-size: 1em;
	padding: 11px;
}

.mail{
    height: 60px;
    width: 700px;
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
    text-align: center;
}

.note{
	color: white;
}

.note h2{
	text-align: center;
}

.note ul{
    padding-left: 20px;
}

.note li{
}

.imgHeight {
	height:700px;
}

@media only screen and (max-width:750px) {
	.main_area {
		width: 100% !important;
	}
	.lazy {
		width: 100% !important;
	}
	.blue_area_link {
		width: 100%;
	}
	.green_area_link {
		width: 100%;
	}
	.red_area_link {
		width: 100%;
	}
	.note ul {
		padding-left: 0px;
	}
}